beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
idna==2.10
importlib-metadata==4.6.0
joblib==1.0.1
nltk==3.6.2
pyaes==1.6.1
pyasn1==0.4.8
regex==2021.7.1
requests==2.25.1
rsa==4.7.2
soupsieve==2.2.1
Telethon==1.22.0
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.4.1
